<div class="footer">
  <small>
  	<p>
    	Inspired by <%= link_to "One Month Rails", "http://onemonthrails.com" %>
    </p>
    <p>
    	Q&A App by <%= link_to "Phil Hurwitz", "http://about.me/philhurwitz" %>
    </p>
  </small>
</div>